
* {
	box-sizing: border-box;
}
h1, h2, body, p {
	margin: 0;
	padding: 0;
}
ul {
	margin-left: -2.4rem;
	margin-top: 0.7rem;
	list-style-type: disc;
}
a {
	color: var(--color-texte);
}
html {
	font-family: 'Inter', Helvetica, Arial, sans-serif;
	font-size: 70%;
	color: var(--color-texte);
}
body {
	font-size: 1.3rem;
	background-color: var(--background-body);
}
.page {
	background-color: var(--background-page);
	box-shadow:  var(--box-shadow);
	margin: -0.2rem auto 0 auto;
	max-width: 21cm;
	min-height: 100vw;
	overflow: hidden;
	padding-bottom: 5rem;
	position: relative;
}
.pqge::after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.uppercase {
	text-transform: uppercase;
}
section {
	margin-top: 2rem;
}
.titre-section {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: var(--titre-section);
}
.titre-section svg {
	display: none;
}
.section-puces {
	border-left: 3px solid var(--barre);
	margin-left: 0.5rem;
	padding-left: 2rem;
	position: relative;
}
.item-puce {
	padding-top: 0.5rem;
}
.item-puce::after {
	background-color: var(--blanc);
	border: var(--puces) 3px solid;
	content: "";
	position: absolute;
	left: -2.8rem;
	top: 0.7rem;
	height: 10px;
	width: 10px;
	border-radius: 50%;
}
.etablissement {
	color: var(--etablissement);
	margin-bottom: 0.7rem;
}
.date {
	font-style: italic;
}
.lieu {
	float: right;
	font-style: italic;
}

.poste {
	color: var(--color-texte);
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

@media screen and (max-width: 980px) {
	html {
		font-size: 70%;
	}
	.page {
	margin: 0;
	}
	section {
		margin: 0;
	}
	section div {
		padding-bottom: 1rem;
	}
	.titre-section {
		border: 1px solid var(--titre-section);
		padding: 1.4rem;
		border-radius: 10px;
	}
	.titre-section svg {
		display: inline-block;
		float: right;
	}
	.svg {
  display: inline-block;
  transition: transform 0.3s ease;
	}
	.titre-section.open svg {
		transform: rotate(180deg);
	}
	.titre-section ~ * {
		display: none;
	}
	.titre-section.open ~ * {
		display: block;
	}
}

@page {
	margin: 0.5cm;
}
